<script type="text/template" id="folder_template">
    <li class="pl-7">
        <ul class="aui-nav pl-7">
            <a class="aui-nav-item aui-button aui-button-subtle" title="<%= folder.get("name") %>" onclick="expandCollapse(this)"><span class="glyphicon glyphicon-folder-close mr-5"></span><%= folder.get("name") %></a>
            <% folder.get("folders").each(function(folder) { %>
                <%= app.FolderTemplate({folder:folder}) %>
            <% }); %>
            <% folder.get("projects").each(function(project) { %>
                <%= app.ProjectTemplate({project:project}) %>
            <% }); %>
        </ul>
    </li>
</script>