<script type="text/template" id="project_template">
    <li class="pl-7">
        <ul class="aui-nav pl-7">
            <a class="aui-nav-item aui-button aui-button-subtle" title="<%= name %>" onclick="expandCollapse(this)"><span class="glyphicon glyphicon-list mr-2"></span><%= name %></a>
            <li class="pl-10">
                <a class="aui-nav-item aui-button aui-button-subtle pl-7" title="Documents"><span class="aui-icon aui-icon-small aui-iconfont-page-default mr-2"></span>Documents</a>
            </li>
            <% if(requirementsExtracted) { %>
            <li class="pl-10">
                <a class="aui-nav-item aui-button aui-button-subtle pl-7" title="Requirements"><span class="aui-icon aui-icon-small aui-iconfont-page-default mr-2"></span>Requirements</a>
            </li>
            <% } %>
        </ul>
    </li>
</script>