<section role="dialog" id="import_dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Import Project</h2>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content">
        <div class="field-group">
            <label for="import_file">Select the project to import</label>
            <input class="upfile" id="import_file" type="file" Title="Select the project to import" />
        </div>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="import_dialog_submit_button" class="aui-button aui-button-primary">Import</button>
            <button id="import_dialog_close_button" class="aui-button aui-button-default">Cancel</button>
        </div>
    </footer>
</section>