<section role="dialog" id="new_folder_dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Create Folder</h2>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content">

        <form class="aui">
            <div class="field-group">
            <label for="new_folder_name">Folder Name</label>
            <input class="text long-field" type="text" id="new_folder_name" name="new_folder_name" title="Folder Name">
        </div>
        <div class="field-group">
            <label for="new_folder_folder">Parent Folder</label>
            <select class="long-field" id="new_folder_folder" name="new_folder_folder">
            </select>
        </div>
        </form>

    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="new_folder_dialog_submit_button" class="aui-button aui-button-primary">Create</button>
            <button id="new_folder_dialog_close_button" class="aui-button aui-button-default">Cancel</button>
        </div>
    </footer>
</section>