

<section role="dialog" id="new_project_dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">Create Project</h2>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content">
        <div class="field-group">
            <label for="new_project_name">Project Name</label>
            <input class="text long-field" type="text" id="new_project_name" name="new_project_name" title="Project Name">
        </div>
        <div class="field-group">
            <label for="new_project_folder">Folder</label>
            <select class="long-field" id="new_project_folder" name="new_project_folder">
            </select>
        </div>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button id="new_project_dialog_submit_button" class="aui-button aui-button-primary">Create</button>
            <button id="new_project_dialog_close_button" class="aui-button aui-button-default">Cancel</button>
        </div>
    </footer>
</section>