<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/6.0.4/css/aui.min.css" media="all">
    <link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/6.0.4/css/aui-experimental.min.css" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" media="all">
    <link rel="stylesheet" href="/static/addon/stylesheets/main.css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://aui-cdn.atlassian.com/aui-adg/6.0.4/js/aui.min.js"></script>
    <script src="https://aui-cdn.atlassian.com/aui-adg/6.0.4/js/aui-experimental.min.js"></script>
    <script src="https://aui-cdn.atlassian.com/aui-adg/6.0.4/js/aui-datepicker.min.js"></script>
    <script src="https://aui-cdn.atlassian.com/aui-adg/6.0.4/js/aui-soy.min.js"></script>
    <script src="/static/addon/javascripts/underscore.js"></script>
    <script src="/static/addon/javascripts/backbone.js"></script>
</head>
<body>
    <section id="content">
        <div class="aui-sidebar">
            <div class="aui-sidebar-wrapper">
                <div class="aui-sidebar-body">
                    <nav class="aui-navgroup aui-navgroup-vertical">
                        <div class="aui-navgroup-inner">
                            <div class="aui-sidebar-group aui-sidebar-group-actions">
                                <div class="aui-nav-heading" title="Actions">
                                    <strong>Projects</strong>
                                </div>
                                <ul class="aui-nav" title="Page actions" id="projects">
                                    <script type="text/template" id="folder_template">
                                        <li class="pl-7">
                                            <ul class="aui-nav pl-7">
                                                <a class="aui-nav-item aui-button aui-button-link" title="<%= name %>" onclick="expandCollapse(this)"><span class="aui-icon aui-icon-small aui-iconfont-collapsed"></span><%= name %></a>
                                                <% folders.each(function(folder) { %>
                                                    <%= app.FolderTemplate(folder.attributes) %>
                                                <% }); %>
                                                <% projects.each(function(project) { %>
                                                    <%= app.ProjectTemplate(project.attributes) %>
                                                <% }); %>
                                            </ul>
                                        </li>
                                    </script>
                                    <script type="text/template" id="project_template">
                                        <li class="pl-7">
                                            <ul class="aui-nav pl-7">
                                                <a class="aui-nav-item aui-button aui-button-link" title="<%= name %>" onclick="expandCollapse(this)"><span class="aui-icon aui-icon-small aui-iconfont-collapsed mr-0"></span><%= name %></a>
                                                <li class="pl-10">
                                                    <a class="aui-nav-item pl-7" title="Documents"><span class="aui-icon aui-icon-small aui-iconfont-page-default mr-2"></span>Documents</a>
                                                </li>
                                                <% if(requirementsExtracted) { %>
                                                    <li class="pl-10">
                                                        <a class="aui-nav-item pl-7" title="Requirements"><span class="aui-icon aui-icon-small aui-iconfont-page-default mr-2"></span>Requirements</a>
                                                    </li>
                                                <% } %>
                                            </ul>
                                        </li>
                                    </script>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="aui-sidebar-footer">
                    <a class="aui-button aui-button-subtle aui-sidebar-toggle aui-sidebar-footer-tipsy" title="Collapse sidebar ( [ )">
                        <span class="aui-icon aui-icon-small"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <section class="">
                    <nav class="aui-header aui-dropdown2-trigger-group mb-10" role="navigation" data-aui-responsive="true">
                        <div class="aui-header-primary">
                            <ul class="aui-nav __skate" style="width: auto;">
                                <li>
                                    <button class="aui-button aui-button-primary aui-dropdown2-trigger aui-alignment-target aui-alignment-abutted aui-alignment-abutted-left
                                        aui-alignment-out-of-bounds aui-alignment-out-of-bounds-bottom aui-alignment-element-attached-top aui-alignment-element-attached-left
                                        aui-alignment-target-attached-bottom aui-alignment-target-attached-left mt-5 mb-5 auto-height" aria-haspopup="true" resolved=""
                                        aria-controls="new_button_more" aria-expanded="false">
                                        <span class="font-size-150 glyphicon glyphicon-plus"></span><br/>
                                        New
                                    </button>
                                    <div id="new_button_more" class="aui-dropdown2 aui-style-default aui-layer aui-alignment-element aui-alignment-side-bottom
                                        aui-alignment-snap-left aui-alignment-abutted aui-alignment-abutted-left aui-alignment-out-of-bounds aui-alignment-out-of-bounds-bottom
                                        aui-alignment-element-attached-top aui-alignment-element-attached-left aui-alignment-target-attached-bottom
                                        aui-alignment-target-attached-left" resolved="" aria-hidden="true" data-aui-alignment="bottom auto" data-aui-alignment-static="true"
                                        style="z-index: auto; top: 0px; left: 0px; position: absolute; transform: translateX(341px) translateY(690px) translateZ(0px);">
                                        <ul class="aui-list-truncate cursor-pointer">
                                            <li><a id="new_project_button" tabindex="-1">Project</a></li>
                                            <li><a id="new_folder_button" tabindex="-1">Folder</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <button id="import_button" class="aui-button aui-button-primary mt-5 mb-5 auto-height">
                                        <span class="font-size-150 glyphicon glyphicon-import"></span><br/>
                                        Import
                                    </button>
                                </li>
                                <li>
                                    <button id="export_button" class="aui-button aui-button-primary mt-5 mb-5 auto-height">
                                        <span class="font-size-150 glyphicon glyphicon-import"></span><br/>
                                        Export
                                    </button>
                                </li>
                                <li>
                                    <button id="run_analysis_button" class="aui-button aui-button-primary mt-5 mb-5 auto-height">
                                        <span class="font-size-150 glyphicon glyphicon-triangle-right"></span><br/>
                                        Run Analysis
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="aui-tabs horizontal-tabs mt-0">
                        <ul class="tabs-menu">
                            <li class="menu-item active-tab">
                                <a href="#tabs-example-first">EU_LEDS_2014 - Documents</a>
                            </li>
                            <li class="menu-item">
                                <a href="#tabs-example-second">EU_LEDS_2014 - Requirements</a>
                            </li>
                        </ul>
                        <div class="tabs-pane active-pane" id="tabs-example-first">
                            <div class="mb-10">
                                <form class="aui pt-10 mb-neg-20">
                                    <div class="field-group">
                                        <label for="section_1_name" class="pt-0"><h3>Section</h3></label>
                                        <input class="text" type="text" id="section_1_name" name="section_1_name" title="Section Name">
                                    </div>
                                </form>
                                <table id="documents_table"></table>
                            </div>
                            <button class="aui-button">
                                <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
                                Add Section
                            </button>
                        </div>
                        <div class="tabs-pane" id="tabs-example-second">
                            <form class="aui mt-20" id="requirements">
                                <script type="text/template" id="requirement_template">
                                    <div class="field-group">
                                        <label for="<%= name %>_values"><%= name %></label>
                                        <div name="<%= name %>_values">
                                            <% _.each(values, function(value) { %>
                                                <textarea class="text long-field" type="text" id="<%= name %>" name="<%= name %>" title="<%= name %>"><%= value %></textarea>
                                                <br/>
                                            <% }); %>
                                        </div>
                                    </div>
                                </script>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    
    <section role="dialog" id="new_project_dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
        <header class="aui-dialog2-header">
            <h2 class="aui-dialog2-header-main">Create Project</h2>
            <a class="aui-dialog2-header-close">
                <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
            </a>
        </header>
        <div class="aui-dialog2-content">
            <div class="field-group">
                <label for="new_project_name">Project Name</label>
                <input class="text long-field" type="text" id="new_project_name" name="new_project_name" title="Project Name">
            </div>
        </div>
        <footer class="aui-dialog2-footer">
            <div class="aui-dialog2-footer-actions">
                <button id="new_project_dialog_submit_button" class="aui-button aui-button-primary">Create</button>
                <button id="new_project_dialog_close_button" class="aui-button aui-button-default">Cancel</button>
            </div>
        </footer>
    </section>

    <section role="dialog" id="new_folder_dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
        <header class="aui-dialog2-header">
            <h2 class="aui-dialog2-header-main">Create Folder</h2>
            <a class="aui-dialog2-header-close">
                <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
            </a>
        </header>
        <div class="aui-dialog2-content">
            <div class="field-group">
                <label for="new_folder_name">Folder Name</label>
                <input class="text long-field" type="text" id="new_folder_name" name="new_folder_name" title="Folder Name">
            </div>
        </div>
        <footer class="aui-dialog2-footer">
            <div class="aui-dialog2-footer-actions">
                <button id="new_folder_dialog_submit_button" class="aui-button aui-button-primary">Create</button>
                <button id="new_folder_dialog_close_button" class="aui-button aui-button-default">Cancel</button>
            </div>
        </footer>
    </section>

    <section role="dialog" id="import_dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
        <header class="aui-dialog2-header">
            <h2 class="aui-dialog2-header-main">Import Project</h2>
            <a class="aui-dialog2-header-close">
                <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
            </a>
        </header>
        <div class="aui-dialog2-content">
            <div class="field-group">
                <label for="import_file">Select the project to import</label>
                <input class="upfile" id="import_file" type="file" Title="Select the project to import" />
            </div>
        </div>
        <footer class="aui-dialog2-footer">
            <div class="aui-dialog2-footer-actions">
                <button id="import_dialog_submit_button" class="aui-button aui-button-primary">Import</button>
                <button id="import_dialog_close_button" class="aui-button aui-button-default">Cancel</button>
            </div>
        </footer>
    </section>

    <section role="dialog" id="export_dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
        <header class="aui-dialog2-header">
            <h2 class="aui-dialog2-header-main">Export Project</h2>
            <a class="aui-dialog2-header-close">
                <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
            </a>
        </header>
        <div class="aui-dialog2-content">
            <fieldset class="group">
                <legend><span>Export project as</span></legend>
                <div class="radio ml-20">
                    <input class="radio" type="radio" checked="checked" name="export_type" id="export_machine_readable">
                    <label for="export_machine_readable">machine-readable</label>
                </div>
                <div class="radio ml-20">
                    <input class="radio" type="radio" name="export_type" id="export_human_readable">
                    <label for="export_human_readable">human-readable</label>
                    <select class="select ml-20" id="export_filetype" name="export_filetype" title="File type">
                        <option>pdf</option>
                        <option>docx</option>
                        <option>odt</option>
                        <option>txt</option>
                    </select>
                </div>
            </fieldset>
        </div>
        <footer class="aui-dialog2-footer">
            <div class="aui-dialog2-footer-actions">
                <button id="export_dialog_submit_button" class="aui-button aui-button-primary">Export</button>
                <button id="export_dialog_close_button" class="aui-button aui-button-default">Cancel</button>
            </div>
        </footer>
    </section>

     <script id="connect-loader" data-options="sizeToParent:true;">
        var apiUrlPrefix = "api/";
        var app = {};
        
        function expandCollapse(element) {
            var self = $(element);
            self.siblings().toggle();
        }
     
        (function() {
            var getUrlParam = function (param) {
                var codedParam = (new RegExp(param + '=([^&]*)')).exec(window.location.search)[1];
                return decodeURIComponent(codedParam);
            };

            var baseUrl = getUrlParam('xdm_e') + getUrlParam('cp');
            var options = document.getElementById('connect-loader').getAttribute('data-options');

            var script = document.createElement("script");
            script.src = baseUrl + '/atlassian-connect/all.js';

            if(options) {
                script.setAttribute('data-options', options);
            }

            document.getElementsByTagName("head")[0].appendChild(script);
            
            initDocumentTable();
            initNewProjectDialog();
            initNewFolderDialog();
            initImportDialog();
            initExportDialog();
            initRunAnalysis();
            initProjects();
            initRequirements();
        })();
        
        function initDocumentTable() {
            new AJS.RestfulTable({
                autoFocus: true,
                el: jQuery("#documents_table"),
                resources: {
                    all: apiUrlPrefix + "projects/1/documents",
                    self: apiUrlPrefix + "projects/1/documents"
                },
                columns: [
                    {
                        id: "name",
                        header: "Name",
                        allowEdit: true
                    },
                    {
                        id: "type",
                        header: "Type",
                        allowEdit: false
                    },
                    {
                        id: "size",
                        header: "Size",
                        allowEdit: false
                    },
                    {
                        id: "category",
                        header: "Category",
                        allowEdit: true
                    }
                ],
                allowCreate: true,
                allowEdit: true,
                allowDelete: true,
                createPosition: "bottom",
                deleteConfirmation: true
            });
        }
        
        function initNewProjectDialog() {
            AJS.$("#new_project_button").click(function() {
                AJS.dialog2("#new_project_dialog").show();
            });

            AJS.$("#new_project_dialog_close_button").click(function(e) {
                e.preventDefault();
                AJS.dialog2("#new_project_dialog").hide();
            });
            
            AJS.$("#new_project_dialog_submit_button").click(function() {
                var input = AJS.$("#new_project_name").val();
                if (input == "") showErrorMessage("Please provide a name for the new project.");
                AJS.$.ajax({
                    url: apiUrlPrefix + "/projects",
                    method: "POST",
                    dataType: "application/json",
                    data: input,
                    success: function() {
                        AJS.dialog2("#new_project_dialog").hide();
                        showSuccessMessage("The Project was successfully created.");
                    },
                    error: function() {
                        showErrorMessage("We could not create the project, please try again or contact our webmaster.");
                    }
                });
            });
        }
        
        function initNewFolderDialog() {
            AJS.$("#new_folder_button").click(function() {
                AJS.dialog2("#new_folder_dialog").show();
            });

            AJS.$("#new_folder_dialog_close_button").click(function(e) {
                e.preventDefault();
                AJS.dialog2("#new_folder_dialog").hide();
            });
            
            AJS.$("#new_folder_dialog_submit_button").click(function() {
                var name = AJS.$("#new_project_name").val();
                if (name == "") showErrorMessage("Please provide a name for the new project.");
                AJS.$.ajax({
                    url: apiUrlPrefix + "/folders",
                    method: "POST",
                    dataType: "application/json",
                    data: name,
                    success: function() {
                        AJS.dialog2("#new_project_dialog").hide();
                        showSuccessMessage("The Folder was successfully created.");
                    },
                    error: function() {
                        showErrorMessage("We could not create the folder, please try again or contact our webmaster.");
                    }
                });
            });
        }
        
        function initImportDialog() {
            AJS.$("#import_button").click(function() {
                AJS.dialog2("#import_dialog").show();
            });

            AJS.$("#import_dialog_close_button").click(function(e) {
                e.preventDefault();
                AJS.dialog2("#import_dialog").hide();
            });
            
            AJS.$("#import_dialog_submit_button").click(function() {
                var fileData = $('#import_file').prop('files')[0];
                var formData = new FormData();
                form_data.append('file', file_data);
                AJS.$.ajax({
                    url: apiUrlPrefix + "/projects/import",
                    method: "POST",
                    data: formData,
                    success: function() {
                        showSuccessMessage("Project was imported successfully.");
                    },
                    error: function() {
                        showErrorMessage("An error occured while importing the project, please try again or contact our webmaster.");
                    }
                });
            });
        }
        
        function initExportDialog() {
            AJS.$("#export_button").click(function() {
                AJS.dialog2("#export_dialog").show();
            });

            AJS.$("#export_dialog_close_button").click(function(e) {
                e.preventDefault();
                AJS.dialog2("#export_dialog").hide();
            });
            
            AJS.$("#export_dialog_submit_button").click(function() {
                AJS.$.ajax({
                    url: apiUrlPrefix + "/projects",
                    method: "GET",
                    success: function() {
                        showSuccessMessage("Here's your project export");
                    },
                    error: function() {
                        showErrorMessage("An error occured while importing the project, please try again or contact our webmaster.");
                    }
                });
            });
        }
        
        function initRunAnalysis() {
            $("#run_analysis_button").click(function() {
                //TODO
            });
        }
        
        function initProjects() {
            app.Project = Backbone.Model.extend({
                defaults: {
                    id: 0,
                    name: "",
                    requirementsExtracted: false
                },
                url: apiUrlPrefix + "projects"
            });
            
            app.Folder = Backbone.Model.extend({
                defaults: {
                    id: 0,
                    name: "",
                    folders: [],
                    projects: []
                },
                url: apiUrlPrefix + "folders"
            });
            
            app.ProjectList = Backbone.Collection.extend({
                model: app.Project,
                url: apiUrlPrefix + "projects"
            });
            
            app.FolderList = Backbone.Collection.extend({
                model: app.Folder,
                url: apiUrlPrefix + "folders"
            });
            
            function parseProjectList(projectArr) {
                var result = new app.ProjectList([]);
                _.each(projectArr, function(projectObj) {
                    var project = new app.Project({id: projectObj.id, name: projectObj.name, requirementsExtracted: projectObj.requirementsExtracted});
                    result.add(project);
                });
                return result;
            }
            
            function parseFolderList(folderArr) {
                var result = new app.FolderList([]);
                _.each(folderArr, function(folderObj) {
                    var subFolders = parseFolderList(folderObj.folders);
                    var projects = parseProjectList(folderObj.projects);
                    var folder = new app.Folder({id: folderObj.id, name: folderObj.name, folders: subFolders, projects});
                    result.add(folder);
                });
                return result;
            }
            
            app.FolderTemplate = _.template($("#folder_template").html());
            app.ProjectTemplate = _.template($("#project_template").html());
        
            app.ProjectsView = Backbone.View.extend({
                el: "#projects",
                
                initialize: function(){
                    var self = this;
                    $.ajax({
                        url: apiUrlPrefix + "projects",
                        method: "GET",
                        success: function(response) {
                            app.projectFolders = parseFolderList(JSON.parse(response));
                            self.render();
                        }
                    });
                },
                
                render: function(){
                  var result = "";
                  app.projectFolders.each(function(folder) {
                      result += app.FolderTemplate(folder.attributes);
                  });
                  this.$el.html(result);
                }
            });
            
            new app.ProjectsView();
        }
        
        function initRequirements() {
            app.Requirement = Backbone.Model.extend({
                defaults: {
                    id: 0,
                    name: "",
                    values: []
                },
                url: apiUrlPrefix + "requirements"
            });
            
            app.RequirementList = Backbone.Collection.extend({
                model: app.Requirement,
                url: apiUrlPrefix + "requirements"
            });
            
            function parseRequirementList(requirementArr) {
                var result = new app.RequirementList([]);
                _.each(requirementArr, function(requirementObj) {
                    var requirement = new app.Requirement({id: requirementObj.id, name: requirementObj.name, values: requirementObj.values});
                    result.add(requirement);
                });
                return result;
            }
            
            app.RequirementTemplate = _.template($("#requirement_template").html());
        
            app.RequirementsView = Backbone.View.extend({
                el: "#requirements",
                
                initialize: function(){
                    var self = this;
                    $.ajax({
                        url: apiUrlPrefix + "projects/1/requirements",
                        method: "GET",
                        success: function(response) {
                            app.requirements = parseRequirementList(JSON.parse(response));
                            self.render();
                        }
                    });
                },
                
                render: function(){
                  var result = "";
                  app.requirements.each(function(requirement) {
                      result += app.RequirementTemplate(requirement.attributes);
                  });
                  this.$el.html(result);
                }
            });
            
            new app.RequirementsView();
        }
    </script>
</body>
</html>