<!DOCTYPE html>
<html lang="en">
<head>
    {% include "addon/head.html" %}
</head>
<body>
<section id="content">

    {% include "addon/sidebar.html" %}

    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="">
                {% include "addon/mainmenu.html" %}
                {% include "addon/maincontent.html" %}
            </section>
        </div>
    </div>
</section>

{% include "addon/dialogs/newprojectdialog.html" %}
{% include "addon/dialogs/newfolderdialog.html" %}
{% include "addon/dialogs/importdialog.html" %}
{% include "addon/dialogs/exportdialog.html" %}

<script src="/static/addon/javascripts/main.js" id="connect-loader" data-options="sizeToParent:true;"></script>
</body>
</html>