<div class="aui-tabs horizontal-tabs mt-0">
    <ul class="tabs-menu" id="tab_buttons">
    </ul>
    <div class="tabs-pane active-pane" id="tab_documents">
        <div id="sections">
        </div>
        <button class="aui-button" onclick="addSection()">
            <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
            Add Section
        </button>
    </div>
    <div class="tabs-pane" id="tab_requirements">
        <form class="aui mt-20" id="requirements">
        </form>
    </div>
</div>