<nav class="aui-header aui-dropdown2-trigger-group mb-10" role="navigation" data-aui-responsive="true">
    <div class="aui-header-primary">
        <ul class="aui-nav __skate" style="width: auto;">
            <li>
                <button class="aui-button aui-button-primary aui-dropdown2-trigger aui-alignment-target aui-alignment-abutted aui-alignment-abutted-left
                                        aui-alignment-out-of-bounds aui-alignment-out-of-bounds-bottom aui-alignment-element-attached-top aui-alignment-element-attached-left
                                        aui-alignment-target-attached-bottom aui-alignment-target-attached-left mt-5 mb-5 auto-height" aria-haspopup="true" resolved=""
                        aria-controls="new_button_more" aria-expanded="false">
                    <span class="font-size-150 glyphicon glyphicon-plus"></span><br/>
                    New
                </button>
                <div id="new_button_more" class="aui-dropdown2 aui-style-default aui-layer aui-alignment-element aui-alignment-side-bottom
                                        aui-alignment-snap-left aui-alignment-abutted aui-alignment-abutted-left aui-alignment-out-of-bounds aui-alignment-out-of-bounds-bottom
                                        aui-alignment-element-attached-top aui-alignment-element-attached-left aui-alignment-target-attached-bottom
                                        aui-alignment-target-attached-left" resolved="" aria-hidden="true" data-aui-alignment="bottom auto" data-aui-alignment-static="true"
                     style="z-index: auto; top: 0px; left: 0px; position: absolute; transform: translateX(341px) translateY(690px) translateZ(0px);">
                    <ul class="aui-list-truncate cursor-pointer">
                        <li><a id="new_project_button" tabindex="-1">Project</a></li>
                        <li><a id="new_folder_button" tabindex="-1">Folder</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <button id="import_button" class="aui-button aui-button-primary mt-5 mb-5 auto-height" onclick="importProject()">
                    <span class="font-size-150 glyphicon glyphicon-import"></span><br/>
                    Import
                </button>
            </li>
            <li>
                <button id="export_button" class="aui-button aui-button-primary mt-5 mb-5 auto-height" onclick="exportProject()">
                    <span class="font-size-150 glyphicon glyphicon-import"></span><br/>
                    Export
                </button>
            </li>
            <li>
                <button id="run_analysis_button" class="aui-button aui-button-primary mt-5 mb-5 auto-height" onclick="runAnalysis()">
                    <span class="font-size-150 glyphicon glyphicon-triangle-right"></span><br/>
                    Run Analysis
                </button>
            </li>
        </ul>
    </div>
</nav>