<div class="aui-tabs horizontal-tabs mt-0">
    <ul class="tabs-menu">
        <li class="menu-item active-tab">
            <a href="#tabs-example-first">EU_LEDS_2014 - Documents</a>
        </li>
        <li class="menu-item">
            <a href="#tabs-example-second">EU_LEDS_2014 - Requirements</a>
        </li>
    </ul>
    <div class="tabs-pane active-pane" id="tabs-example-first">
        <div class="mb-10">
            <form class="aui pt-10 mb-neg-20">
                <div class="field-group">
                    <label for="section_1_name" class="pt-0"><h3>Section</h3></label>
                    <input class="text" type="text" id="section_1_name" name="section_1_name" title="Section Name">
                    <h3>Projects content:</h3>
                    {{ user_projects_list }}
                    <h3>Folders content:</h3>
                    {{ user_folders_list }}
                </div>
            </form>
            <table id="documents_table"></table>
        </div>
        <button class="aui-button">
            <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
            Add Section
        </button>
    </div>
    <div class="tabs-pane" id="tabs-example-second">
        <form class="aui mt-20" id="requirements">
            <script type="text/template" id="requirement_template">
                <div class="field-group">
                    <label for="<%= name %>_values"><%= name %></label>
                    <div name="<%= name %>_values">
                        <% _.each(values, function(value) { %>
                        <textarea class="text long-field" type="text" id="<%= name %>" name="<%= name %>" title="<%= name %>"><%= value %></textarea>
                        <br/>
                        <% }); %>
                    </div>
                </div>
            </script>
        </form>
    </div>
</div>