
<div class="aui-sidebar">
    <div class="aui-sidebar-wrapper">
        <div class="aui-sidebar-body">
            <nav class="aui-navgroup aui-navgroup-vertical">
                <div class="aui-navgroup-inner">
                    <div class="aui-sidebar-group aui-sidebar-group-actions">
                        <div class="aui-nav-heading" title="Actions">
                            <strong>Projects</strong>
                        </div>
                        <ul class="aui-nav" title="Page actions" id="projects">
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div class="aui-sidebar-footer">
            <a class="aui-button aui-button-subtle aui-sidebar-toggle aui-sidebar-footer-tipsy" title="Collapse sidebar ( [ )">
                <span class="aui-icon aui-icon-small"></span>
            </a>
        </div>
    </div>
</div>